html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color:darkgrey
}

h1 {
    display: flex;
    align-items: center;

}
